body {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 5%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project-div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 1rem;
	justify-content: center;
}

.project {
	height: 20rem;
	border: 5px solid black;
	border-radius: 10px;
	/* padding: 2rem; */
	text-align: center;
	align-content: center;
	/* object-fit: fill; */
}


.project img:hover {
	opacity: 25%;
}

.project:hover {
	.project-title, .project-link{
		display: block;
	}
	background-color: white;
	color: navy;
}


.name {
font-size: 3rem;
margin-bottom: 1rem;
}

.manuscript-gif {
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	z-index: 0;
}